extends layout

block layout-content
    div.View
        h1.Banner PLUMA
        div.Message
            div.Title
                h2  Private Library and User Management Archive
        span.Details PLUMA Homepage
    div.NavButtons
        a(href="/user")
            div.NavButton Log In using UPMail
        a(href="/user")
            div.NavButton ICS Library